@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary-50 text-primary-900 antialiased font-sans;
}

/* Smooth scrolling for tables */
.overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 transparent;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 6px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 3px;
}
